.cellTool {
	font-weight: normal;
}

.rowClickable {
	cursor: pointer;
}

.tableBody {
	width: 100%;
}

.tool a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

.toolWebsite {
	opacity: 0.5;
}
