.cellTool {
	font-weight: normal;
	width: 1px;
}

.table {
	width: 100%;
}

.tool {
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	gap: 1em;
}
.tool a {
	color: inherit;
	text-decoration: none;
}
