---
import { ToolOverview } from '@features/Tools/components/ToolOverview';
import { TOOLS } from '@features/Tools/tools';
import ContentLayout from '@layouts/ContentLayout.astro';

const PAGE_TITLE = 'What do tools collect?';
---

<ContentLayout title={PAGE_TITLE}>
	<ToolOverview tools={TOOLS} client:load />
	<p>
		Do you feel a tool is missing? Tell <a href="https://mastodon.social/@timsev">Tim on Mastodon</a
		>.
	</p>
</ContentLayout>
