<div class="layout">
	<slot />
</div>

<style>
	@media (min-width: 60em) {
		.layout {
			display: grid;
			grid-template-columns: 1fr 1.618fr;
			gap: var(--step-2);
			min-height: calc(100vh - 2 * var(--body-padding));
		}
	}
</style>
