.card {
	display: block;
	border-radius: 0.25em;
	border: var(--border);
	padding: var(--step-2);
}

.cardList {
	display: grid;
	grid-template-columns: repeat(auto-fill, 30ch);
	gap: var(--step-0);
}

.cardList > * {
	min-width: 0;
}

.cardWithLink {
	color: inherit;
	text-decoration: none;
	transition: background-color 0.2s;
}
.cardWithLink:hover,
.cardWithLink:active {
	background-color: var(--color-background-fade);
}
