---
import { Flow } from '@components/Flow';
import ContentLayout from '@layouts/ContentLayout.astro';

const PAGE_TITLE = 'Page not found';
const PAGE_DESCRIPTION = '';
---

<ContentLayout title={PAGE_TITLE} description={PAGE_DESCRIPTION}>
	<div>
		<Flow>
			<p>This page doesn’t exist. <a href="/">Go back home</a>.</p>
		</Flow>
	</div>
</ContentLayout>
