---
import { Flow } from '@components/Flow';
import { TOOLS } from '@features/Tools/tools';
import ContentLayout from '@layouts/ContentLayout.astro';
import site from '../site.json';

const listFormatter = new Intl.ListFormat('en', {
	type: 'disjunction',
	style: 'long',
});

const PAGE_TITLE = 'Disclaimer';
const PAGE_DESCRIPTION = 'I’m not liable. GTFO.';
---

<ContentLayout title={PAGE_TITLE} description={PAGE_DESCRIPTION}>
	<div>
		<Flow>
			<p>
				This site or site’s author is not affiliated with {
					listFormatter.format(TOOLS.map((t) => t.name))
				}.
			</p>

			<p>I’m not liable for whatever. Leave me alone.</p>

			<p>If you’re upset about the contents of this site, talk to your therapist.</p>

			<p>
				If data on this site is outdated or wrong, say hi to <a
					href={site.author.social.mastodon.url}
					target="_blank">{site.author.social.mastodon.handle}</a
				>.
			</p>
		</Flow>
	</div>
</ContentLayout>
