---
import { TelemetryOverview } from '../features/Telementry/components/TelemetryOverview';
import { TELEMETRY_TOOL_LIST } from '../features/Telementry/telemetry';
import '../styles.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Telemetry of frameworks and static site generators</title>
	</head>
	<body>
		<h1>Telemetry of frameworks and static site generators</h1>
		<main>
			<TelemetryOverview telemetryList={TELEMETRY_TOOL_LIST} client:load />
			<p>
				Do you feel a tool is missing? Tell <a href="https://mastodon.social/@timsev"
					>Tim on Mastodon</a
				>.
			</p>
		</main>
		<footer></footer>
	</body>
</html>
