---
import { Code } from '@components/Code';
import { Flow } from '@components/Flow';
import type { TelemetryInformationOptOut, TelemetryOptOutCommandOption } from '@domain/telemetry';
import { TOOLS } from '@features/Tools/tools';
import ContentLayout from '@layouts/ContentLayout.astro';

const commands = TOOLS.map((t) => t.telemetry)
	.filter((t): t is TelemetryInformationOptOut => t.type === 'OPT_OUT')
	.filter((t) => t.optOutOptions.some((o) => o.type === 'COMMAND'))
	.map((t) => t.optOutOptions.find((o) => o.type === 'COMMAND')?.value)
	.join('\n');

const environmentVariables = [
	...TOOLS.map((t) => t.telemetry)
		.filter((t): t is TelemetryInformationOptOut => t.type === 'OPT_OUT')
		.filter((t) => t.optOutOptions.some((o) => o.type === 'ENVIRONMENT_VARIABLE'))
		.map((t) => t.optOutOptions.find((o) => o.type === 'ENVIRONMENT_VARIABLE')?.value),
	'TELEMETRY_DISABLED=1',
].join('\n');

const PAGE_TITLE = 'How to opt out';
---

<ContentLayout title={PAGE_TITLE}>
	<div>
		<Flow>
			<p>Telemetry can be disabled per-project by running one of the following commands:</p>
			<Code>{commands}</Code>

			<p>To disable telemetry for all projects, you can save these environment variables:</p>
			<Code>{environmentVariables}</Code>
			<p>
				Make sure to add these to <em>all</em> environments that uses the tool, like your Continuous
				Integration build server.
			</p>
		</Flow>
	</div>
</ContentLayout>
