.navigationList {
	display: flex;
	gap: var(--step-0);
	flex-flow: row wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.link {
	color: inherit;
	font-weight: normal;
	text-decoration: none;
	white-space: nowrap;
}
.link:hover,
.link:active {
	text-decoration: underline;
}

@media (min-width: 90em) {
	.navigationList {
		gap: var(--step-2);
	}
}
