.chip {
	display: inline-block;
	background-color: #eee;
	border-radius: 0.5em;
	line-height: 1;
	vertical-align: middle;
	padding: 0.5em;

	/* Button reset bits */
	border: 0;
	font-size: inherit;
	font-family: inherit;
}

.chipActive {
	background-color: #000;
	color: #fff;
}

.chipList {
	display: flex;
	flex-flow: row wrap;
	gap: 0.25em;
}
