.chip {
	display: inline-block;
	background-color: var(--color-background);
	color: inherit;
	border-radius: 0.25em;
	border: var(--border);
	line-height: 1;
	vertical-align: middle;
	padding: 0.5em;
}
.chip:hover {
	background-color: var(--color-background-fade);
}

.chipActive,
.chipActive:hover {
	background-color: var(--color-primary);
}

.chipList {
	display: flex;
	flex-flow: row wrap;
	gap: 0.25em;
}
