---
import DefaultLayout from './DefaultLayout.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<DefaultLayout title={title}>
	<main class="layout">
		<slot name="start">
			<div>
				<h1>{title}</h1>
			</div>
		</slot>
		<slot />
	</main>
</DefaultLayout>

<style is:global>
	.layout {
		display: grid;
		grid-template-columns: 1fr;
		gap: var(--step-2);
	}

	.layout > * {
		min-width: 0 !important;
	}

	@media (min-width: 60em) {
		.layout {
			grid-template-columns: 1fr 2fr;
		}
	}
</style>
